{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>INDEX</h1>
    <a href="{% url 'contato'%}"></a>
    <a href="{% url 'produto'%}"></a>
    <div>
        {% for item in produtos %} 
        <div class="card" style="width: 18rem;">
            <img src={{item.image_produto}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.nome_produto}}</h5>
              <p class="card-text">{{item.preco}}</p>

              <a href="#" class="btn btn-primary">Vai</a>
            </div>
        </div>
        {% endfor %}
        </div>

</body>
</html>