{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de filmes</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <a href="{% url 'cadastro' %}">Cadastrar Filme</a>
        <h2>Filmes</h2>
        <div class="row">
            {% for filme in filmes %}
            <div class="col">
                <img class="img-thumbnail" src="media/{{filme.imagem}}" alt="Capa do filme">
                <h2>Titulo: {{filme.titulo}}</h2>
                <h3>Diretor: {{filme.diretor}}</h3>
                <p>Sinopse: {{filme.sinopse}}</p>
                <span>Ano de lançamento: {{filme.ano_lancamento}}</span><br>
                <span>Duração: {{filme.duracao}}min</span><br>
                <span>Genero: {{filme.get_genero_display}}</span><br>
                <a class="btn btn-danger" href="{% url 'deletar' filme.id %}">Deletar Filme</a>
            </div>
            {% endfor %}
            
        </div>
       
    </div>
    {% bootstrap_javascript %}
</body>
</html>